ul,li{
    list-style: none;
}
.clearfix{
    &::after{
        content:' ';
        clear:both;
        display: block;
        visibility: hidden;
    }
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.containner {
.nav-left{
   background-color:#001529;
   color: #ffffff;
   height: calc(100vh);
}
}
